@import '../bower_components/foundation/scss/foundation';
@import '../bower_components/foundation/scss/foundation/components/_top-bar';
	

@font-face {
	font-family: "webserveroff";
	src: url('../fonts/web-serveroff/Web_Serveroff.otf') format('opentype');
}

// import font
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.main-header{
	h1{
		font-family: 'Arvo', serif;
	}
}

.footer{
	clear:both;
	position: absolute;
	top: 100%;
	bottom: 0px;
}

.project-images{
	-webkit-transition: all 200ms cubic-bezier(0.660, 0.000, 0.070, .800); 
	 -moz-transition: all 200ms cubic-bezier(0.660, 0.000, 0.070, .800); 
		 -o-transition: all 200ms cubic-bezier(0.660, 0.000, 0.070, .800); 
				transition: all 200ms cubic-bezier(0.660, 0.000, 0.070, .800);
}

.project-images:hover{
	opacity: .3;
}

//resume styles
.resume-header{
	background-color: #629ABC;
}

.resume-header, .main-header{
	font-family: "webserveroff";
	h4,h1{
		font-size: 64px;
		font-family: "webserveroff";
	}
}

// Animations
.view-animate-container {
	position:relative;
	height:100px!important;
	position:relative;
	overflow:hidden;
}

.view-animate {
	padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
	-webkit-transition: all 700ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	 -moz-transition: all 700ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
		 -o-transition: all 700ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				transition: all 700ms cubic-bezier(0.860, 0.000, 0.070, 1.000);

	display:block;
	width:100%;

	position:absolute;
	top:45px;
	left:0;
	right:0;
	bottom:0;
	padding:10px;
}

.view-animate.ng-enter {
	left:100%;
}
.view-animate.ng-enter.ng-enter-active {
	left:0;
}
.view-animate.ng-leave.ng-leave-active {
	left:-100%;
}

/* Contacts page styles */
.contact {
  ul {
    li {
      display: inline;
    }
  }
}
