<div class="row">
	<div class="large-12 large-text-center columns main-header">
		<div class="large-10 large-text-center fx-fade-down fx-easing-bounce fx-speed-100 resume-header">
			<div class="left">
				<h4>Front-end developer</h4>
			</div>
		</div>
	</div>
</div>